@{
    var viewModel = Model as Asura.Models.VewModelBase;
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,minimum-scale=1.0" name="viewport">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="always">
    <title>@viewModel.Title</title>
    <link rel="apple-touch-icon" href="//@viewModel.SiteConfig.QiNiu.Domain/static/img/favicon.ico">
    <link rel="search" type="application/opensearchdescription+xml" href="//@viewModel.SiteConfig.Blogger.Domain/opensearch.xml" title="@viewModel.SiteConfig.Blogger.Btitle">

@*    <link rel="stylesheet" href="~/css/site.css"/>*@
    
    <staticFile type="css" path="css/site.min.css"/>

    <script type="text/javascript">
        disqusShortName = "@(viewModel.SiteConfig.Disqus.Shortname)";
        QiniuDomain = "@viewModel.SiteConfig.QiNiu.Domain";
        WebSiteDomain = "@viewModel.SiteConfig.Blogger.Domain";
    </script>

    @RenderSection("headjs", false)

    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="//@viewModel.SiteConfig.Blogger.Domain/rss.html">
    <meta name="description" content="@viewModel.Description">
</head>
<body>

<div class="container">
    <div class="left-col">
        <div class="intrude-less">
            <header id="header" class="inner">
                <div class="profilepic">
                    <a href="/"></a>
                </div>
                <h1>
                    <a href="/">@viewModel.SiteConfig.Blogger.BlogName</a>
                </h1>
                <p class="subtitle">@viewModel.SiteConfig.Blogger.SubTitle</p>
                <nav id="main-nav">
                    <ul>
                        <li>
                            <a href="/">
                                <span>首页</span>
                            </a>
                        </li>
                        <li>
                            <a href="/series.html">
                                <span>专题</span>
                            </a>
                        </li>
                        <li>
                            <a href="/archives.html">
                                <span>归档</span>
                            </a>
                        </li>
                        <li>
                            <a href="/p/blogroll.html">
                                <span>友链</span>
                            </a>
                        </li>
                        <li>
                            <a href="/p/about.html">
                                <span>关于</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav id="sub-nav">
                    <div class="social">
                        <a target="_blank" class="rss" href="//@viewModel.SiteConfig.Blogger.Domain/rss.html" title="RSS 订阅" aria-label="RSS 订阅">RSS</a>
                        <a class="search" href="/search.html" title="站内搜索" aria-label="站内搜索">Search</a>
                    </div>
                </nav>
            </header>
        </div>
    </div>
    <div class="mid-col">
        <div class="mid-col-container">@RenderBody()</div>
        <footer id=footer class=inner>
            © @DateTime.Now.Year - @viewModel.SiteConfig.Blogger.Btitle -
            <a target="_blank" rel="nofollow designer" class="external beian" href="http://www.miitbeian.gov.cn/">@viewModel.SiteConfig.Blogger.Beian</a>
            <br>Powered by
            <a target=_blank href="//github.com/luodaoyi/asura">Asura</a> &
            <a target=_blank href="//github.com/eiblog/eiblog">Eiblog</a> &
            <a target=_blank rel="nofollow designer" class=external href="//imququ.com">JerryQu</a>
        </footer>
    </div>
</div>

<input type=hidden id=CURRENT_PAGE value="@(viewModel.CurrentPage)">
<input type=hidden id=CDN_DOMAIN value="https://@(viewModel.SiteConfig.QiNiu.Domain)">

@*<script type="text/javascript" src="~/js/site.min.js" asp-append-version="true"></script>*@

<staticFile type="js" path="js/site.min.js"/>

</body>
</html>