<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,minimum-scale=1.0" name="viewport">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="always">
    <title>@ViewData["Title"]</title>


    <link rel="apple-touch-icon" href="//@ViewData["Qiniu"]/static/img/favicon.ico">
    <link rel="search" type="application/opensearchdescription+xml" href="//@ViewData["Domain"]/opensearch.xml" title="@ViewData["BTitle"]">

    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="//@ViewData["Domain"]/rss.html">
    <meta name="description" content="@ViewData["Description"]">
</head>
<body>

<div class="container">
    <div class="left-col">
        <div class="intrude-less">
            <header id="header" class="inner">
                <div class="profilepic">
                    <a href="/"></a>
                </div>
                <h1>
                    <a href="/">@ViewData["BlogName"]</a>
                </h1>
                <p class="subtitle">@ViewData["SubTitle"]</p>
                <nav id="main-nav">
                    <ul>
                        <li>
                            <a href="/">
                                <span>首页</span>
                            </a>
                        </li>
                        <li>
                            <a href="/series.html">
                                <span>专题</span>
                            </a>
                        </li>
                        <li>
                            <a href="/archives.html">
                                <span>归档</span>
                            </a>
                        </li>
                        <li>
                            <a href="/post/blogroll.html">
                                <span>友链</span>
                            </a>
                        </li>
                        <li>
                            <a href="/post/about.html">
                                <span>关于</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav id="sub-nav">
                    <div class="social">
                        <a target="_blank" class="rss" href="//@ViewData["Domain"]/rss.html" title="RSS 订阅" aria-label="RSS 订阅">RSS</a>
                        <a class="search" href="/search.html" title="站内搜索" aria-label="站内搜索">Search</a>
                    </div>
                </nav>
            </header>
        </div>
    </div>
    <div class="mid-col">
        <div class="mid-col-container">@RenderBody()</div>
        <footer id=footer class=inner>
            © @DateTime.Now.Year - @ViewData["BTitle"] -
            <a target="_blank" rel="nofollow designer" class="external beian" href="http://www.miitbeian.gov.cn/">@ViewData["Beian"]</a>
            <br>Powered by
            <a target=_blank href="//github.com/luodaoyi/asura">Asura</a> &
            <a target=_blank href="//github.com/eiblog/eiblog">Eiblog</a> &
            <a target=_blank rel="nofollow designer" class=external href="//imququ.com">JerryQu</a>
        </footer>
    </div>
</div>
<input type=hidden id=CURRENT_PAGE value="@ViewData["CurrentPage"]">
<input type=hidden id=CDN_DOMAIN value="//@ViewData["Qiniu"]">

</body>
</html>