@using Asura.Service
@{
    var blogger = new Blogger();
    if (ViewData["Blogger"] != null)
    {
        blogger = ViewData["Blogger"] as Blogger;
    } 
    
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,minimum-scale=1.0" name="viewport">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="always">
    <title>@ViewData["Title"]</title>
    <link rel="apple-touch-icon" href="//@ViewData["Qiniu"]/static/img/favicon.ico">
    <link rel="search" type="application/opensearchdescription+xml" href="//@blogger.Domain/opensearch.xml" title="@blogger.Btitle">
    
    <link rel="stylesheet" href="~/css/site.min.css">
    
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="//@ViewData["Domain"]/rss.html">
    <meta name="description" content="@ViewData["Description"]">
</head>
<body>

<div class="container">
    <div class="left-col">
        <div class="intrude-less">
            <header id="header" class="inner">
                <div class="profilepic">
                    <a href="/"></a>
                </div>
                <h1>
                    <a href="/">@blogger.BlogName</a>
                </h1>
                <p class="subtitle">@blogger.SubTitle</p>
                <nav id="main-nav">
                    <ul>
                        <li>
                            <a href="/">
                                <span>首页</span>
                            </a>
                        </li>
                        <li>
                            <a href="/series.html">
                                <span>专题</span>
                            </a>
                        </li>
                        <li>
                            <a href="/archives.html">
                                <span>归档</span>
                            </a>
                        </li>
                        <li>
                            <a href="/p/blogroll.html">
                                <span>友链</span>
                            </a>
                        </li>
                        <li>
                            <a href="/p/about.html">
                                <span>关于</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav id="sub-nav">
                    <div class="social">
                        <a target="_blank" class="rss" href="//@blogger.Domain/rss.html" title="RSS 订阅" aria-label="RSS 订阅">RSS</a>
                        <a class="search" href="/search.html" title="站内搜索" aria-label="站内搜索">Search</a>
                    </div>
                </nav>
            </header>
        </div>
    </div>
    <div class="mid-col">
        <div class="mid-col-container">@RenderBody()</div>
        <footer id=footer class=inner>
            © @DateTime.Now.Year - @blogger.Btitle -
            <a target="_blank" rel="nofollow designer" class="external beian" href="http://www.miitbeian.gov.cn/">@blogger.Beian</a>
            <br>Powered by
            <a target=_blank href="//github.com/luodaoyi/asura">Asura</a> &
            <a target=_blank href="//github.com/eiblog/eiblog">Eiblog</a> &
            <a target=_blank rel="nofollow designer" class=external href="//imququ.com">JerryQu</a>
        </footer>
    </div>
</div>
<script type="text/javascript" src="~/js/site.min.js"></script>

</body>
</html>