@model Asura.Models.ArchivesViewModel

@{
    Layout = "_Layout";
}

<div id=content class=inner>
    <article class="post post-series">
        <h1 class=title>归档</h1>
        <div class="entry-content">
            <div id="toc-container">
                <nav id="toc">
                    <p><strong>预览目录</strong>
                    </p>
                    <ul>
                        @foreach (var serie in Model.List)
                        {
                            <li><a href="#toc-@(serie.Year)-@(serie.Mouth)">@(serie.Year)年@(serie.Mouth)月</a></li>
                        }
                    </ul>
                </nav>
            </div>
            
            <p>@(Model.ArchiveSubTitle)</p>

            @foreach (var serie in Model.List)
            {
                <h3 id="toc-@(serie.Year)-@(serie.Mouth)">@(serie.Year)年@(serie.Mouth)月</h3>
                <ul>
                    @foreach (var article in serie.Articles)
                    {
                        <li>
                            <a href="/p/@(article.Slug).html">@article.Title</a>
                            <span class="date">(@article.CreateTime.ToString("D"))</span>
                        </li>
                    }
                </ul>
            }

        </div>
    </article>
</div>
